<html>
    <head>
         
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
        
<div class="login-page">
    <div class="center">
        <form action="/analytics" method="post">
            <img src="./images/logo.png" style="margin-bottom: 42px;" height="62px;">
            <input type="text" name="username" style="height: 40px;width : 100%" placeholder="Username"><br><br>
            <input type="password" name="password"   placeholder="Password" style="height: 40px;width : 100%" ><br>
           
            <div style="color: #ef233C;margin-bottom: 10px;" id="errorMessage"><%= errorMessage %></div>
            <button type="submit" class="btn" style="background: #6c3b88;color: white;width:144px;height:48px;">Log in <i class="icon icon-arrow-thin-right" style="position: absolute;margin-top: 3px;margin-left: 10px;"></i></button>
        </form>
    </div>
   	
</div>

<style>
    .login-page{
        background: url('./images/login.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(105.5vh);
        margin-top: -70px;
        margin-right: -8px;
        margin-left: -20px;
        margin-bottom: -70px;
        

        
    }
    .center {
        position: absolute;
        top: 25%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 400px;
        text-align: center;
    }

</style>
<!--<script >

    console.log("validation")

   $('#id-form').submit(function(event) {



    event.preventDefault();

    var $formparam = $(this)

    username = $formparam.find('input[name="username"]').val();

    password = $formparam.find('input[name="password"]').val();


    var userData =JSON.stringify({username : 'mohamed.imran@netradyne.com', password: 'Imran!234'})
    console.log(userData)
    $.ajax({
            
            type : 'POST',
            url  : '/login',
            contentType : 'application/json',
            data : JSON.stringify({username:'mohamed.imran@netradyne.com',password:'Imran!234'}) ,
           // success     : function(res) {alert("success")},
           // error       : function(res){console.log(res); alert("error")}
            
             
        } )

   })
  
   
</script> -->
</body>
</html>